img {
  width:40%;
  height:40%;
}
.okok{
  background-color: lightblue;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 25px;
  float:left;
}
.okokok{
  background-color: lightblue;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 25px;
  float:left;
}
.ok{
  background-color: lightblue;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 25px;
  float:left;
}
.design {
  text-decoration: underline;
  color:red;
}
.design1{
  color:red;
  font-size: 50px;
}
body{
  background-color: lightblue;
}
.edit{
  background-color: lightblue;
}
.design2{
  background-color: lightblue;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 25px;
  float:right;
}
.design3{
  background-color: lightblue;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 25px;
  float:left;
}
